body {
    font-family: "IRANSansX";
    box-sizing: border-box;
    margin: 0;
    direction: rtl;
    font-size: 16px;
    line-height: 24px;
    background: #384a5d;
    color: #f5f5f5;
    position: relative;
    overflow-x: hidden;
}

body::before {
    content: "";
    display: block;
    width: 100%;
    height: 420px;
    position: absolute;
    top: 0;
    left: 50%;
    background: url(../images/colorfull-bg.svg) no-repeat 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    body::before {
        left: 60%;
        background: url(../images/colorfull-bg.svg) no-repeat 60%;
        transform: translateX(-60%);
    }
}

@media screen and (min-width: 768px) {
    .body-container {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .header a {
        color: rgb(218, 218, 218);
        margin-left: 0.82rem;
    }
}

.header {
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f5f5f5 !important;
    height: 2.5rem;
}

.header button {
    color: rgb(218, 218, 218);
    margin-left: 1.5rem !important;
}