.emphasized {
    color: #fff;
    background-color: #ffffff38;
    border-radius: 5px;
    padding: 0px 5px;
}
.emphasized:hover {
    background-color: #ffcc29;
}

.color-accent-cta {
    background-color: #ffcc29;
    color: #142334;
    border-radius: 6px;
    border-width: 0;
}

.color-secondary-cta {
    color: #ffcc29;
}

.el-divider--horizontal{
    margin: 12px 0 !important;
}

@font-face {
    font-family: "IRANSansX";
    src: url(../fonts/woff/IRANSansXFaNum-Regular.woff),
    url(../fonts/woff2/IRANSansXFaNum-Regular.woff2);
}
body {
    font-family: "IRANSansX";
    box-sizing: border-box;
    margin: 0;
    direction: rtl;
    font-size: 16px;
    line-height: 24px;
    background: #384a5d;
    color: #f5f5f5;
    position: relative;
}
body::before {
    content: "";
    display: block;
    width: 100%;
    height: 420px;
    position: absolute;
    top: 0;
    left: 50%;
    background: url(../assets/images/colorfull-bg.svg) no-repeat 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0.7;
}
@media screen and (max-width: 768px) {
    body::before {
        left: 60%;
        background: url(../assets/images/colorfull-bg.svg) no-repeat 60%;
        transform: translateX(-60%);
    }
}
a,
a:hover,
a:focus {
    text-decoration: none !important;
}
.el-input__inner,
.el-button,
.el-step__icon-inner {
    font-family: "IRANSansX" !important;
}
.el-menu {
    background-color: transparent !important;
}

@media screen and (min-width: 768px) {
    .body-container {
        width: 80%;
        margin: 0 auto;
    }
}
.el-menu--horizontal > .el-menu-item {
    float: right !important;
}
.el-main {
    min-height: 70vh;
}
.header {
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.header button {
    color: rgb(218, 218, 218);
    margin-left: 1.5rem !important;
}
@media screen and (max-width: 320px) {
    .header a {
        color: rgb(218, 218, 218);
        margin-left: 0.82rem;
    }
}
/*  */
.jc-center {
    justify-content: center;
}
.jc-between {
    justify-content: space-between;
}
.d-flex {
    display: flex;
}
.m-0 {
    margin: 0 !important;
}
.pb-1rem {
    padding-bottom: 1rem;
}
.mb-halfrem {
    margin-bottom: 0.5rem !important;
}
.mx-halfrem {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}
.mr-halfrem {
    margin-right: 0.5rem !important;
}
.mt-1rem {
    margin-top: 1rem !important;
}

.my-1rem {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
/*  */

.el-button.is-round {
    border-radius: 46px;
    padding: 19px 40px;
}
.responsive-img {
    height: 500px;
    width: 100%;
}
.el-input__inner {
    background-color: #384a5d !important;
    color: #f5f5f5 !important;
}
.el-link.el-link--info {
    color: #e2e2e2 !important;
}

.el-card {
    background-color: #384a5d !important;
    color: #f5f5f5 !important;
}
.card-header h4 {
    color: #f5f5f5 !important;
}

.el-drawer {
    background-color: #1f333a !important;
}

.el-drawer__header {
    font-weight: bold !important;
    font-size: larger !important;
    color: #fff !important;
}

.el-drawer__body {
    margin: 0 5%;
}

.hint-text{
    word-break: break-word;
    text-align: justify !important;
}
