.emphasized {
    color: #fff;
    background-color: #ffffff38;
    border-radius: 5px;
    padding: 0px 5px;
}
.emphasized:hover {
    background-color: #ffcc29;
}

.color-accent-cta {
    background-color: #ffcc29;
    color: #142334;
    border-radius: 6px;
    border-width: 0;
}

.color-secondary-cta {
    color: #ffcc29;
}